.config/lazysql/*
.config/stripe/*
.config/github-copilot/*
.config/raycast/*
.config/yarn/*
.DS_Store
.config/zed/.tmp*
.config/zed/embeddings/*
.config/wireshark/*
.config/StardewValley/*
.config/configstore/*
.gnupg/*
mail
.config/aerc/accounts.conf
.config/gcloud/*
.config/.android/*
.config/.wrangler/*
.config/_github_copilot/*
.gemini/*
attachments/
.aider*
.config/@smartthings/cli
.config/nchat
.gemini/history
shell/zsh/.zim/modules/zsh-autosuggestions
modules/org-alert
emacs-packages/org-agenda-dashboard
.config/nv
.config/emacs
.config/emacs

# Pix Agent
.pi/
.pi-lens/
.config/calcurse
work
davmail.log
andino_proton_bridge_key.pem
andino_proton_bridge_cert.pem
.atl
.config/Battle.net/Telemetry
.config/configstore
.config/manicode
.config/rpiv-voice/errors.log
.config/nodemon.json
