.config/lazysql/*
.config/stripe/*
.config/github-copilot/*
.config/raycast/*
.config/yarn/*
.DS_Store
.config/zed/.tmp*
.config/zed/embeddings/*
.config/wireshark/*
.config/StardewValley/*
.config/configstore/*
.gnupg/*
mail
.config/aerc/accounts.conf
.config/gcloud/*
.config/.android/*
.config/.wrangler/*
.config/_github_copilot/*
.gemini/*
attachments/
.aider*
.config/@smartthings/cli
.config/nchat
.gemini/history
shell/zsh/.zim/modules/zsh-autosuggestions
modules/org-alert
emacs-packages/org-agenda-dashboard
.config/nv
.config/emacs
.config/emacs
